body {
    font-family: "Times New Roman ", Geneva, serif;
    background-color: rgb(160, 252, 137);
    color: rgb(55, 87, 5);
}
header {
    text-align: center;
    text-shadow: 1px 1px 1px rgb(0, 0, 0);
}

table {
    border-collapse: collapse;
    width: 40%;
}

td {
    color:rgb(0, 0, 0);
    border: 1px solid black;
    text-align: center;
    padding: 4px;
    background-color: white;
}
td:first-child {
    background: #8fd5ec;
}
figure {
    padding-top: 40px;
}
figcaption {
    text-align: center;   
    padding-bottom: 15px;
    font-weight: bold;
}

#misDatos{
    font-family: Tahoma, sans-serif;   
    color: rgb(54, 9, 138);
}
canvas{
    border: 1px solid black;
}


